/**
 *
 * colours
 *
 */
 $teal: #1B928E;
 $darkteal: #1B928E;
 
 /**
  *
  * greys
  *
  */
 $lead: #222222;
 $tungsten: #3E3E3E;
 $iron: #666666;
 $steel: #AEAEAE;
 $silver: #DFDFDF;
 $mercury: #F0F0F0;
 $snow: #ffffff;
 
 /**
  *
  * tints - used for large areas
  *
  */
 $cloud: #DFE7F0;
 
 /**
  *
  * information
  *
  */
 $ocean: #195795; // information
 $apple: #009933; // success
 $cherry: #F50F1B; // alert
 $citrus: #F50F1B; // warning
  